In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import neattext.functions as nfx

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

# Transformers
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer,TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [3]:
df1 = pd.read_csv("main.csv",encoding='cp1252')
df2 = pd.read_csv('title6.csv')
df = pd.concat([df1,df2], axis=0)

In [4]:
df.head()

,JobTitle,Location,JobUrl,Lable,Summary
0,Application Integration Engineering,Bangalore,/internship/detail/application-integration-eng...,Engineering,Computer Science and Engineering student who i...
1,Full Stack Development,Chennai,/internship/detail/full-stack-development-inte...,Engineering,I am undergraduate computer science student wi...
2,C++ Development (QT Creation),Work From Home,/internship/detail/c-development-qt-creation-w...,Engineering,Python developer Data Science Data Analysis S...
3,ReactJS,Gurgaon,/internship/detail/reactjs-internship-in-gurga...,Engineering,I am a Tech Enthusiast with major experience i...
4,Flutter Development,Work From Home,/internship/detail/flutter-development-work-fr...,Engineering,pursuing B.E computer Science functional softw...

In [5]:
df['JobUrl']='https://internshala.com'+df['JobUrl']

In [35]:
df.head()
df['JobUrl']

0     https://internshala.com/internship/detail/appl...
1     https://internshala.com/internship/detail/full...
2     https://internshala.com/internship/detail/c-de...
3     https://internshala.com/internship/detail/reac...
4     https://internshala.com/internship/detail/flut...
                            ...
6     https://internshala.com/internship/detail/rese...
7     https://internshala.com/internship/detail/data...
8     https://internshala.com/internship/detail/inve...
9     https://internshala.com/internship/detail/data...
10    https://internshala.com/internship/detail/proj...
Name: JobUrl, Length: 66, dtype: object

In [34]:
df.to_csv('joburl.csv')

In [7]:
df['Clean_Text'] = df['Summary'].apply(nfx.remove_userhandles)

In [8]:
df['Clean_Text'] = df['Clean_Text'].apply(nfx.remove_stopwords)

In [9]:
df['Clean_Text']=df['Clean_Text'].apply(nfx.remove_multiple_spaces)

In [10]:
df['Clean_Text']

0     Computer Science Engineering student passionat...
1     undergraduate computer science student knowled...
2     Python developer Data Science Data Analysis So...
3     Tech Enthusiast major experience End Web Devel...
4     pursuing B.E computer Science functional softw...
                            ...
6     I'm stack developer machine learning enthusias...
7     Python, Flask, Machine Learning, Data visualiz...
8     Python, Flask, Machine Learning, Data visualiz...
9     M.Sc. Statistics graduate. Highly-motivated pa...
10    enthusiast new opportunities domain Data Analy...
Name: Clean_Text, Length: 66, dtype: object

In [11]:
Clean_Text=[]
for i in df.Summary:
    cln =i.lower().replace(',', '').replace('/', '').replace('&', '').replace('\\', '').replace('!', '').replace(':', '').replace('-', '').replace('\'', '').replace('.','')
    Clean_Text.append(cln)

In [12]:
df['Clean_Text'] =Clean_Text

In [13]:
df['Clean_Text']=df['JobTitle'] +' '+ df['Lable'] +' '+ df['Clean_Text']

In [14]:
df['Clean_Text']

0     Application Integration Engineering Engineerin...
1     Full Stack Development Engineering i am underg...
2     C++ Development (QT Creation) Engineering pyth...
3     ReactJS Engineering i am a tech enthusiast wit...
4     Flutter Development Engineering pursuing be co...
                            ...
6     Research Analytics Data Science im a full stac...
7     Data Analytics Data Science python flask machi...
8     Investment Banking Data Science python flask m...
9     Projects Executing Data Science msc statistics...
10    Business Analytics Data Science  i am very muc...
Name: Clean_Text, Length: 66, dtype: object

In [15]:
df.tail()

,JobTitle,Location,JobUrl,Lable,Summary,Clean_Text
6,Research Analytics,Agra,https://internshala.com/internship/detail/rese...,Data Science,I'm a full stack developer and machine learnin...,Research Analytics Data Science im a full stac...
7,Data Analytics,Mumbai,https://internshala.com/internship/detail/data...,Data Science,"Python, Flask, Machine Learning, Data visualiz...",Data Analytics Data Science python flask machi...
8,Investment Banking,Work From Home,https://internshala.com/internship/detail/inve...,Data Science,"Python, Flask, Machine Learning, Data visualiz...",Investment Banking Data Science python flask m...
9,Projects Executing,Delhi,https://internshala.com/internship/detail/data...,Data Science,M.Sc. Statistics graduate. Highly-motivated an...,Projects Executing Data Science msc statistics...
10,Business Analytics,Jaipur,https://internshala.com/internship/detail/proj...,Data Science,I am very much enthusiast about the new oppor...,Business Analytics Data Science i am very muc...

In [22]:
Xfeatures = df['Clean_Text']
ylabels = df['Lable']

In [23]:
x_train,x_test,y_train,y_test = train_test_split(Xfeatures,ylabels,test_size=0.3,random_state=42)

In [24]:
from sklearn.pipeline import Pipeline

In [25]:
pipe_lr = Pipeline(steps=[('cv',CountVectorizer()),('lr',LogisticRegression())])

In [26]:
pipe_lr.fit(x_train,y_train)

Pipeline(steps=[('cv', CountVectorizer()), ('lr', LogisticRegression())])

In [27]:
pipe_lr.score(x_test,y_test)

1.0

In [28]:
def predict_profile(docx):
    results = pipe_lr.predict([docx])
    return str(results[0])

In [29]:
s='statistics Mba'
p=predict_profile(s)

In [30]:
df.loc[df['Lable']==p]

,JobTitle,Location,JobUrl,Lable,Summary,Clean_Text
45,Campus Ambassador,Work From Home,https://internshala.com/internship/detail/camp...,MBA,"Design, develop, maintain and support LSF subm...",Campus Ambassador MBA design develop maintain ...
46,Retail Sales,Faridabad,https://internshala.com/internship/detail/reta...,MBA,Develop in-house tools to create a workflow wi...,Retail Sales MBA develop inhouse tools to crea...
47,Business Development (Sales),Chennai,https://internshala.com/internship/detail/busi...,MBA,"C++, Management, Leadership, and Soft Skills J...",Business Development (Sales) MBA c++ managemen...
48,Business Development (Sales),Delhi,https://internshala.com/internship/detail/busi...,MBA,"Skilled in Python (Programming Language), C++,...",Business Development (Sales) MBA skilled in py...
49,Operations,Work From Home,https://internshala.com/internship/detail/oper...,MBA,"Skilled in Communication, Market Research, Eng...",Operations MBA skilled in communication market...
50,Business Development (Sales),Jaipur,https://internshala.com/internship/detail/busi...,MBA,"Work on CSS, HTML, PHP, JavaScript jQuery Hand...",Business Development (Sales) MBA work on css h...
51,Business Development (Sales),Chandigarh,https://internshala.com/internship/detail/busi...,MBA,"Work on the algorithm's optimization, interfac...",Business Development (Sales) MBA work on the a...
52,Marketing,Ludhiana,https://internshala.com/internship/detail/mark...,MBA,"C++ python CSS, HTML, PHP, JavaScript jQuery a...",Marketing MBA c++ python css html php javascri...
53,Content Writing,Work From Home,https://internshala.com/internship/detail/cont...,MBA,Developing a hardware prototype for IoT nodes ...,Content Writing MBA developing a hardware prot...
54,Business Development (Sales),Agra,https://internshala.com/internship/detail/busi...,MBA,Designing the overall architecture for the web...,Business Development (Sales) MBA designing the...

In [31]:
pipe_lr.predict_proba([ex1])

NameError: name 'ex1' is not defined

In [32]:
pipe_lr.classes_

array(['Computer Vision', 'Data Science', 'Engineering', 'MBA'],
      dtype=object)

In [33]:
import joblib
pipeline_file = open("model.pkl","wb")
joblib.dump(pipe_lr,pipeline_file)
pipeline_file.close()