In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import pandas as pd
import requests
import csv

In [19]:
df1=pd.read_csv('title.csv')
df2=pd.read_csv('title2.csv')
df3=pd.read_csv('title3.csv')
df4=pd.read_csv('title4.csv')
df5=pd.read_csv('title5.csv')

In [20]:
df=pd.concat([df1,df2,df3,df4,df5], axis=0)

In [21]:
df.shape

(120, 4)

In [22]:
df.head()

,JobTitle,Location,JobUrl,Lable
0,Application Integration Engineering,Bangalore,/internship/detail/application-integration-eng...,Engineering
1,In-house Tools Development in G Suite,Bangalore,/internship/detail/in-house-tools-development-...,Engineering
2,Cloud Computing,Mumbai,/internship/detail/cloud-computing-internship-...,Engineering
3,Software Project Management,Work From Home,/internship/detail/software-project-management...,Engineering
4,Mechatronics,Hosur,/internship/detail/mechatronics-internship-in-...,Engineering

In [9]:
y = 'https://internshala.com'
links = [y+x for x in df['JobUrl']]
type(links)

list

In [25]:
summar=[]
for i in links:
    res=requests.get(i)
    soup=BeautifulSoup(res.text,'html.parser')
    allpost=soup.findAll('div',{'class':"internship_details"})
    summa=[]
    for post1 in allpost:
        summ2=post1.findAll('div','text-container')[2].text.strip()
        summ=[summ2]
        summa.append(summ)
    summar.append(summa)

with open('summary.csv', 'w', newline='', encoding='utf-8') as f:
        writer = csv.writer(f)
        writer.writerow(['Summary'])
        writer.writerows(summar)

In [73]:
l=['https://internshala.com/internship/detail/research-marketing-work-from-home-job-internship-at-times-internet1631177959',
 'https://internshala.com/internship/detail/marketing-internship-in-dindigul-at-byjus-the-learning-app1631172036']
summar=[]
for i in l:
    res=requests.get(i)
    soup=BeautifulSoup(res.text,'html.parser')
    allpost=soup.findAll('div',{'class':"internship_details"})
    summa=[]
    for post1 in allpost:
        summ1=post1.findAll('div','text-container')[0].text.strip()
        summ2=post1.findAll('div','text-container')[1].text.strip()
        summ3=post1.findAll('div','text-container')[2].text.strip()
        summ=[summ1,summ2,summ3]
        summa.append(summ)
    summar.append(summa)
import csv
with open('demo.csv', 'w', newline='', encoding='utf-8') as f:
        writer = csv.writer(f)
        writer.writerow(['Summary1'])
        writer.writerows(summar)

In [26]:
df6=pd.read_csv('summary.csv')
df6.head()

                                             Summary
0  ["Selected intern's day-to-day responsibilitie...
1  ["Selected intern's day-to-day responsibilitie...
2  ["Selected intern's day-to-day responsibilitie...
3  ["Selected intern's day-to-day responsibilitie...
4  ["Selected intern's day-to-day responsibilitie...

In [27]:
df6.shape

(120, 1)

In [28]:
df.shape

(120, 4)

In [29]:
main=pd.concat([df, df6], axis=1, join='inner')

In [30]:
main.head()

,JobTitle,Location,JobUrl,Lable,Summary
0,Application Integration Engineering,Bangalore,/internship/detail/application-integration-eng...,Engineering,"[""Selected intern's day-to-day responsibilitie..."
1,In-house Tools Development in G Suite,Bangalore,/internship/detail/in-house-tools-development-...,Engineering,"[""Selected intern's day-to-day responsibilitie..."
2,Cloud Computing,Mumbai,/internship/detail/cloud-computing-internship-...,Engineering,"[""Selected intern's day-to-day responsibilitie..."
3,Software Project Management,Work From Home,/internship/detail/software-project-management...,Engineering,"[""Selected intern's day-to-day responsibilitie..."
4,Mechatronics,Hosur,/internship/detail/mechatronics-internship-in-...,Engineering,"[""Selected intern's day-to-day responsibilitie..."

In [31]:
main.to_csv('main.csv')